{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true
  },
  "rules": {
    "react/no-unescaped-entities": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
